{% extends "core/base.html" %}
{% block title %}
Portfolio
{% endblock title %}
{% block header_title %}
Portfolio
{% endblock header_title %}
{% block header_sub %}
TensorFlow, Django, Flask, Pandas...
{% endblock header_sub %}
{% load static %}
{% block header_bg %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock header_bg %}
{% block content %}
{% for project in projects %}
<!-- Proyecto -->
<div class="row project">
    <div class="col-lg-4 col-md-4 offset-lg-1" style="padding-top: 10px;">
        <img class="img-fluid rounded" src="{{ project.image.url }}" alt="Project Image">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <!-- <p>
                <a href="https://google.com">Más información</a>
            </p> -->
    </div>
</div>
{% endfor %}
{% endblock content %}
